#  RECOMMENDATION SYSTEM   (collabrative filtering)

In [1]:
import numpy as np
import pandas as pd
from numpy import array
import math

In [2]:
movies=pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movies['genres']=[x.split('|') for x in movies['genres']]
movies['title']=[x.split('(')[0].replace('(\(\d\d\d\d\))', '').strip() for x in movies['title']]
movies.head()

,movieId,title,genres
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji,"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men,"[Comedy, Romance]"
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II,[Comedy]

In [4]:
s=set()
for x in zip(movies['genres']):
    for i in x[0]:
        s.add(i)

print(list(s))

['Action', 'Musical', 'Documentary', 'Children', 'Fantasy', 'Adventure', 'Animation', 'Sci-Fi', 'War', 'Film-Noir', 'Comedy', 'Mystery', 'Horror', 'Crime', '(no genres listed)', 'Drama', 'Thriller', 'IMAX', 'Western', 'Romance']

In [5]:
# for index, row in movies.iterrows():
#     for genre in row['genres']:
#         movies.at[index, genre] = 1
        
# movies = movies.fillna(0)
# movies.head()

In [6]:
ratings=pd.read_csv('ratings.csv')
ratings= ratings.drop('timestamp', 1)
ratings.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [7]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

   rating                title
0     5.0  Breakfast Club, The
1     3.5            Toy Story
2     2.0              Jumanji
3     5.0         Pulp Fiction
4     4.5                Akira

In [8]:
inputId = movies[movies['title'].isin(inputMovies['title'].tolist())]
inputMovies = pd.merge(inputId, inputMovies)
inputMovies

,movieId,title,genres,rating
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",3.5
1,2,Jumanji,"[Adventure, Children, Fantasy]",2.0
2,296,Pulp Fiction,"[Comedy, Crime, Drama, Thriller]",5.0
3,1274,Akira,"[Action, Adventure, Animation, Sci-Fi]",4.5
4,1968,"Breakfast Club, The","[Comedy, Drama]",5.0

In [9]:
users = ratings[ratings['movieId'].isin(inputMovies['movieId'].tolist())]
users.head()

     userId  movieId  rating
19        4      296     4.0
441      12     1968     3.0
479      13        2     2.0
531      13     1274     5.0
681      14      296     2.0

In [10]:
k=users.groupby('userId')
uqusers=list(set(users['userId'].tolist()))

In [11]:
mov5us=[x  for x in uqusers if len(k.get_group(x))==5]
mov5us

[75,
 106,
 686,
 815,
 1040,
 1130,
 1502,
 1599,
 1625,
 1950,
 2065,
 2128,
 2432,
 2791,
 2839,
 2948,
 3025,
 3040,
 3186,
 3271,
 3429,
 3734,
 4099,
 4208,
 4282,
 4292,
 4415,
 4586,
 4725,
 4818,
 5104,
 5165,
 5547,
 6082,
 6207,
 6366,
 6482,
 6530,
 7235,
 7403,
 7641,
 7996,
 8008,
 8086,
 8245,
 8572,
 8675,
 9101,
 9358,
 9663,
 9994,
 10248,
 10315,
 10368,
 10607,
 10707,
 10863,
 11314,
 11399,
 11769,
 11827,
 12069,
 12120,
 12211,
 12325,
 12916,
 12921,
 13053,
 13142,
 13260,
 13366,
 13768,
 13888,
 13923,
 13934,
 14529,
 14551,
 14588,
 14984,
 15137,
 15157,
 15466,
 15670,
 15834,
 16292,
 16456,
 16506,
 17246,
 17438,
 17501,
 17502,
 17666,
 17735,
 17742,
 17757,
 17854,
 17897,
 17944,
 18301,
 18509,
 18765,
 18905,
 19208,
 19381,
 19607,
 19890,
 20278,
 20319,
 20341,
 20444,
 20650,
 20708,
 20759,
 20838,
 20969,
 21023,
 21148,
 21242,
 21362,
 21473,
 21475,
 21819,
 22043,
 22180,
 22883,
 22950,
 22952,
 23297,
 23332,
 23437,
 23467,
 23534,
 23562,
 23600,
 23815,
 24692,
 24846,
 25090,
 25488,
 25760,
 25778,
 25793,
 25799,
 25930,
 26155,
 26516,
 26602,
 27131,
 27160,
 27177,
 27255,
 27281,
 27583,
 27638,
 27719,
 27988,
 28012,
 28170,
 28670,
 28755,
 29118,
 29178,
 29218,
 29300,
 29353,
 29369,
 29520,
 29653,
 29743,
 30029,
 30365,
 30642,
 30651,
 30758,
 30771,
 30853,
 31542,
 31583,
 31605,
 31920,
 32419,
 32466,
 32599,
 32738,
 33120,
 33121,
 33509,
 33521,
 33797,
 33945,
 34234,
 34945,
 34978,
 35189,
 35213,
 35315,
 35900,
 35964,
 36264,
 36711,
 36933,
 36936,
 36946,
 36985,
 37139,
 37148,
 37197,
 37311,
 37725,
 37855,
 37887,
 38004,
 38200,
 38304,
 38318,
 38445,
 38450,
 38734,
 38813,
 38875,
 38957,
 38986,
 39123,
 39142,
 39163,
 39252,
 39273,
 39283,
 39595,
 39677,
 39746,
 39794,
 39969,
 39994,
 40527,
 40567,
 40801,
 41061,
 41373,
 41458,
 41488,
 41714,
 41746,
 41886,
 42305,
 42416,
 42734,
 43228,
 43287,
 43767,
 43920,
 44445,
 44585,
 44758,
 45024,
 45074,
 45123,
 45300,
 45640,
 45727,
 45782,
 45824,
 46009,
 46025,
 46237,
 46455,
 46458,
 46509,
 46619,
 46750,
 46987,
 47109,
 47242,
 47386,
 47586,
 47648,
 47776,
 47808,
 48087,
 48098,
 48431,
 48492,
 48757,
 48793,
 48923,
 48986,
 48993,
 49089,
 49359,
 50254,
 50259,
 50458,
 50514,
 50738,
 50820,
 50877,
 51033,
 51159,
 51397,
 51580,
 51609,
 51672,
 51813,
 51920,
 52673,
 52718,
 52815,
 53021,
 53030,
 53094,
 53598,
 53735,
 54009,
 54096,
 54158,
 54308,
 54515,
 54746,
 54755,
 55061,
 55164,
 55385,
 55386,
 55495,
 55882,
 55990,
 56061,
 56395,
 56705,
 56800,
 57015,
 57117,
 57474,
 57604,
 57915,
 57920,
 57966,
 58040,
 58061,
 58171,
 58480,
 58571,
 58618,
 58631,
 58708,
 58973,
 59037,
 59338,
 59584,
 59681,
 59949,
 59997,
 60336,
 60469,
 60482,
 60486,
 60514,
 60859,
 61364,
 61550,
 61705,
 61725,
 61917,
 61957,
 62056,
 62494,
 62531,
 62975,
 63110,
 63236,
 63361,
 63559,
 63947,
 64214,
 64456,
 64563,
 64720,
 65259,
 65856,
 66042,
 66098,
 66150,
 66364,
 66467,
 66887,
 67204,
 67300,
 67470,
 67756,
 68040,
 68205,
 68772,
 68783,
 68822,
 69378,
 69392,
 69413,
 69614,
 69705,
 69718,
 70123,
 70174,
 70269,
 70277,
 70542,
 71295,
 71498,
 71499,
 71502,
 71559,
 71651,
 71921,
 72022,
 72230,
 72256,
 72448,
 72536,
 72806,
 72863,
 72965,
 73244,
 73416,
 73419,
 73435,
 73494,
 73563,
 73642,
 73669,
 73697,
 73725,
 73889,
 73908,
 74047,
 74125,
 74157,
 74234,
 74364,
 74430,
 74507,
 74551,
 74583,
 74819,
 74858,
 75161,
 75461,
 75701,
 75769,
 75906,
 76255,
 76721,
 76795,
 76888,
 77020,
 77025,
 77194,
 77231,
 77421,
 77695,
 77801,
 77981,
 78036,
 78038,
 78046,
 78095,
 78409,
 78445,
 78473,
 78629,
 78766,
 78869,
 78871,
 79099,
 79625,
 79783,
 80261,
 80357,
 80485,
 80652,
 80815,
 80865,
 81242,
 81349,
 81404,
 81627,
 81665,
 81702,
 81742,
 81793,
 82382,
 82800,
 83470,
 83745,
 83951,
 84039,
 84077,
 84513,
 85116,
 85133,
 85153,
 85518,
 85886,
 86082,
 86318,
 86367,
 86447,
 86658,
 86680,
 87449,
 87690,
 87926,
 87998,
 88117,
 88303,
 88318,
 88406,
 88741,
 89216,
 89271,
 89377,
 89432,
 89694,
 89770,
 89821,
 90018,
 90278,
 90320,
 90496,
 90613,
 90645,
 90725,
 90775,
 90799,
 90818,
 90863,
 90904,
 91304,
 91408,
 91951,
 92372,
 92466,
 92730,
 92784,
 93060,
 93278,
 93435,
 93491,
 93565,
 93788,
 94009,
 94166,
 94202,
 94348,
 94532,
 94559,
 94591,
 94959,
 95113,
 95198,
 95209,
 95211,
 95371,
 95460,
 95764,
 95787,
 96325,
 96461,
 96470,
 96472,
 96562,
 96573,
 96736,
 96744,
 96765,
 96878,
 97244,
 97267,
 97322,
 97775,
 97911,
 97940,
 98070,
 98174,
 98482,
 98720,
 99392,
 99498,
 99503,
 99656,
 99970,
 99992,
 100369,
 100372,
 100428,
 100550,
 100650,
 100713,
 100748,
 100825,
 100838,
 100939,
 101029,
 101082,
 101155,
 101194,
 101361,
 102108,
 102415,
 102550,
 102802,
 103230,
 103463,
 103571,
 103798,
 104481,
 104587,
 104701,
 104714,
 104934,
 105062,
 105097,
 105109,
 105420,
 105437,
 105485,
 105538,
 105554,
 106246,
 106293,
 106460,
 106583,
 106842,
 107538,
 107633,
 107724,
 107733,
 108082,
 108728,
 108959,
 109082,
 109101,
 109706,
 110103,
 110298,
 110657,
 111046,
 111288,
 111374,
 111399,
 111478,
 111602,
 111885,
 112140,
 112212,
 112846,
 112993,
 113570,
 113594,
 113985,
 113995,
 114528,
 114559,
 114758,
 114863,
 115000,
 115074,
 115212,
 115219,
 115339,
 115658,
 116106,
 116108,
 116191,
 116283,
 116352,
 116777,
 116783,
 116797,
 117290,
 117721,
 118141,
 118551,
 119215,
 119274,
 119582,
 119741,
 120010,
 120084,
 120519,
 120603,
 120655,
 120791,
 120903,
 121005,
 121033,
 121306,
 121413,
 121896,
 121917,
 122376,
 122427,
 122946,
 123058,
 123369,
 123559,
 123566,
 123598,
 124068,
 124237,
 124702,
 125028,
 125078,
 125141,
 125398,
 125403,
 125410,
 125730,
 125856,
 126068,
 126116,
 126655,
 126805,
 127546,
 127719,
 128185,
 128225,
 128539,
 128601,
 128627,
 129060,
 129203,
 129475,
 130186,
 130389,
 130429,
 130490,
 130810,
 131052,
 131150,
 131169,
 131424,
 131454,
 131602,
 131635,
 131775,
 131993,
 132005,
 132200,
 132309,
 132337,
 132358,
 132400,
 132513,
 132575,
 132596,
 132669,
 132717,
 133006,
 133331,
 133624,
 134046,
 134065,
 134360,
 134405,
 135145,
 135674,
 135877,
 136004,
 136225,
 136365,
 136855,
 137055,
 137085,
 137143,
 137409,
 137419,
 138136,
 138457,
 138498,
 138533,
 138665,
 138780,
 138856,
 138975,
 139049,
 139252,
 139376,
 139484,
 139621,
 139758,
 140075,
 140394,
 140489,
 140925,
 140967,
 141172,
 141462,
 141474,
 141817,
 142062,
 142163,
 142263,
 142310,
 142333,
 142515,
 142730,
 142774,
 142795,
 143727,
 144628,
 144825,
 144944,
 145076,
 145099,
 145123,
 145171,
 145213,
 145514,
 145944,
 146327,
 146733,
 146818,
 146906,
 147003,
 147771,
 148997,
 149006,
 149110,
 149138,
 149218,
 149247,
 149278,
 149735,
 149758,
 149786,
 150287,
 150342,
 150733,
 151068,
 151070,
 151126,
 151164,
 151229,
 151615,
 151881,
 152112,
 152224,
 152266,
 152387,
 152692,
 153441,
 153601,
 153773,
 153853,
 153993,
 154431,
 154533,
 154537,
 154555,
 154753,
 154995,
 155366,
 155436,
 155934,
 155978,
 155986,
 155995,
 156043,
 156114,
 156249,
 156697,
 156700,
 156725,
 156948,
 157266,
 157347,
 157553,
 157781,
 158088,
 158090,
 158473,
 158648,
 159250,
 159437,
 159465,
 159790,
 160113,
 160338,
 160435,
 160457,
 160640,
 160695,
 160870,
 161178,
 161240,
 161318,
 161371,
 161434,
 161490,
 161569,
 161751,
 161790,
 161799,
 161843,
 162014,
 162415,
 163005,
 163118,
 163160,
 163425,
 163686,
 164413,
 164436,
 164570,
 164675,
 164709,
 164783,
 164890,
 165000,
 165494,
 165812,
 165926,
 165943,
 166029,
 166286,
 166477,
 166488,
 166501,
 166521,
 166624,
 166817,
 167239,
 167246,
 167468,
 167523,
 167538,
 167550,
 167713,
 167837,
 168489,
 168691,
 168743,
 168907,
 168967,
 169107,
 169491,
 169553,
 169555,
 169585,
 169715,
 169729,
 169921,
 169937,
 170007,
 170036,
 170551,
 170631,
 170741,
 170753,
 171108,
 171494,
 171530,
 171537,
 171720,
 172253,
 172345,
 172561,
 172569,
 172617,
 172635,
 172697,
 172832,
 172882,
 172955,
 172961,
 173115,
 173662,
 173864,
 174390,
 174524,
 174790,
 174818,
 174827,
 174903,
 174942,
 175167,
 175179,
 175681,
 175887,
 176369,
 176445,
 176770,
 176968,
 176991,
 177330,
 177659,
 177843,
 178092,
 178107,
 178120,
 178408,
 ...]

In [12]:
columns=[]
columns.append('UserId')
columns.extend(inputMovies['movieId'].tolist())

data=[]

for i in mov5us:
    l=k.get_group(i)
    j=l['userId'].tolist()[0]
    col=l['rating'].tolist()
    li=[]
    li.append(j)
    li.extend(col)
    data.append(li)
    
subsetuser=pd.DataFrame(columns=columns,data=data)
subsetuser.head()

   UserId    1    2  296  1274  1968
0      75  5.0  3.5  5.0   4.5   5.0
1     106  2.5  3.0  3.5   3.0   3.5
2     686  4.0  3.0  4.0   4.0   5.0
3     815  4.5  3.0  5.0   3.0   4.5
4    1040  3.0  1.5  3.5   3.0   4.0

<img src="capture.png">

In [13]:
userrateing=array(inputMovies['rating'].tolist())
x=[userrateing.mean()]*len(userrateing)

pearson_coff=[]
for index, row in subsetuser.iterrows():
    tuserrat=array(row.tolist()[1:])
    y=[tuserrat.mean()]*len(userrateing)
    
   
    sxy=((userrateing-x)*(tuserrat-y)).sum()
    sxx=math.sqrt((pow(userrateing-x,2)).sum())
    syy=math.sqrt((pow(tuserrat-y,2)).sum())

    if sxx!=0 or sxy!=0:
        pearson_coff.append(sxy/(sxx*syy))
    else:
        pearson_coff.append(0)
    
        
subsetuser['pp_coff']=pearson_coff
subsetuser.head()

C:\Users\vivek\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:15: RuntimeWarning: invalid value encountered in double_scalars
  from ipykernel import kernelapp as app

   UserId    1    2  296  1274  1968   pp_coff
0      75  5.0  3.5  5.0   4.5   5.0  0.827278
1     106  2.5  3.0  3.5   3.0   3.5  0.586009
2     686  4.0  3.0  4.0   4.0   5.0  0.832050
3     815  4.5  3.0  5.0   3.0   4.5  0.576557
4    1040  3.0  1.5  3.5   3.0   4.0  0.943456

In [14]:
similaruserlist=subsetuser.sort_values('pp_coff',ascending=False)[0:50]
similaruserlist

      UserId    1    2  296  1274  1968   pp_coff
568    96562  3.0  2.0  4.0   4.0   4.0  0.986690
1329  232983  4.0  3.0  5.0   5.0   5.0  0.986690
903   162014  3.5  3.0  4.0   4.0   4.0  0.986690
199    36711  4.0  3.0  5.0   5.0   5.0  0.986690
952   170007  4.5  4.0  5.0   5.0   5.0  0.986690
749   132358  3.5  3.0  4.0   4.0   4.0  0.986690
685   120010  3.0  2.0  4.0   4.0   4.0  0.986690
110    20650  3.0  2.5  3.5   3.5   3.5  0.986690
663   115000  3.0  1.0  5.0   5.0   5.0  0.986690
258    45640  4.5  4.0  5.0   5.0   5.0  0.986690
1186  210197  4.0  3.0  5.0   5.0   5.0  0.986690
866   156043  4.0  3.0  5.0   5.0   5.0  0.986690
326    56061  4.0  3.0  5.0   5.0   5.0  0.986690
501    86082  3.0  1.0  4.5   4.0   4.0  0.983092
310    53598  3.0  1.5  5.0   5.0   5.0  0.982502
1149  202732  3.0  2.0  4.5   4.0   4.0  0.980581
1117  196659  4.0  3.5  5.0   4.5   5.0  0.977692
374    64456  4.0  2.0  5.0   5.0   5.0  0.977692
234    40527  3.5  2.5  4.0   4.0   4.0  0.977692
660   114559  4.0  2.0  5.0   5.0   5.0  0.977692
1342  235304  3.5  3.0  4.5   4.0   4.5  0.977692
1029  182957  3.5  3.0  4.5   4.0   4.5  0.977692
351    59997  4.0  2.0  5.0   5.0   5.0  0.977692
1121  197907  3.5  3.0  4.5   4.5   4.5  0.970725
933   167523  3.5  2.5  5.0   4.0   5.0  0.970725
1281  223351  2.0  1.0  4.0   4.0   4.0  0.970725
543    93278  4.0  3.5  5.0   5.0   5.0  0.970725
929   166817  3.0  1.0  5.0   4.0   4.0  0.969864
1253  220061  3.5  2.5  4.5   4.0   4.0  0.969864
706   124068  3.5  2.5  4.5   4.0   4.0  0.969864
1108  194435  4.0  3.0  5.0   4.5   4.5  0.969864
169    30029  3.5  2.5  4.5   4.0   4.0  0.969864
509    87926  4.0  2.5  5.0   4.5   4.5  0.968581
557    95198  3.0  2.0  4.5   3.5   4.0  0.968581
990   176770  4.0  2.5  4.5   4.5   4.5  0.962435
64     12325  3.5  1.5  4.0   4.0   4.5  0.961678
259    45727  3.5  1.5  4.0   4.0   4.5  0.961678
1218  215271  4.0  2.0  5.0   4.5   4.5  0.961678
34      6207  3.5  2.0  5.0   5.0   4.5  0.961538
55     10707  3.0  1.5  4.5   4.5   4.0  0.961538
1235  217202  4.0  3.0  4.5   4.0   4.5  0.960769
67     13053  4.0  3.0  4.5   4.0   4.5  0.960769
1269  221750  4.5  3.5  5.0   4.5   5.0  0.960769
876   157781  3.0  1.0  4.0   3.0   4.0  0.960769
1409  246393  4.0  2.0  5.0   4.0   5.0  0.960769
997   178107  3.0  1.0  5.0   3.5   4.0  0.958606
680   118551  4.0  2.5  4.5   4.0   4.5  0.954820
759   134046  4.0  2.5  4.5   4.0   4.5  0.954820
672   116283  3.0  0.5  5.0   3.0   5.0  0.950268
962   171720  3.0  2.5  5.0   4.5   4.5  0.949847

In [15]:
topUsersRating=similaruserlist.merge(ratings, left_on='UserId', right_on='userId', how='inner')
topUsersRating.head()

   UserId    1    2  296  1274  1968  pp_coff  userId  movieId  rating
0   96562  3.0  2.0  4.0   4.0   4.0  0.98669   96562        1     3.0
1   96562  3.0  2.0  4.0   4.0   4.0  0.98669   96562        2     2.0
2   96562  3.0  2.0  4.0   4.0   4.0  0.98669   96562       18     3.0
3   96562  3.0  2.0  4.0   4.0   4.0  0.98669   96562       21     4.0
4   96562  3.0  2.0  4.0   4.0   4.0  0.98669   96562       24     2.0

In [16]:
topUsersRating['weightrating']=topUsersRating['pp_coff']*topUsersRating['rating']
topUsersRating=topUsersRating.drop(columns=l['movieId'].tolist())
topUsersRating=topUsersRating.drop(columns=['userId','UserId'])
topUsersRating.head()

   pp_coff  movieId  rating  weightrating
0  0.98669        1     3.0      2.960071
1  0.98669        2     2.0      1.973381
2  0.98669       18     3.0      2.960071
3  0.98669       21     4.0      3.946761
4  0.98669       24     2.0      1.973381

In [17]:
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['pp_coff','weightrating']]
tempTopUsersRating.columns = ['sumpp_coff','sum_weightedRating']
tempTopUsersRating.head()

         sumpp_coff  sum_weightedRating
movieId
1         48.629129          174.108534
2         48.629129          114.421897
3         15.581322           41.428504
4          1.932512            3.865024
5          9.710614           19.519327

In [18]:
tempTopUsersRating['recomm_score']=tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sumpp_coff']
tempTopUsersRating = tempTopUsersRating.sort_values(by='recomm_score', ascending=False)
tempTopUsersRating.head(10)

         sumpp_coff  sum_weightedRating  recomm_score
movieId
32892      1.956554            9.782769           5.0
80928      0.970725            4.853627           5.0
5028       0.969864            4.849318           5.0
43         0.960769            4.803845           5.0
8684       0.969864            4.849318           5.0
3749       0.980581            4.902903           5.0
8601       0.969864            4.849318           5.0
42217      0.969864            4.849318           5.0
8484       0.969864            4.849318           5.0
5147       1.930633            9.653163           5.0

<h3>These top 10 movies are recommended more can be also put into list from tempTopUserRating</h3>

# Other ways of calculation recommendation score

<ul>
    <li>pearson's coeffient</li>
    <li>Cosine similarity</li>
    <li>Euclidian distance</li>
    <li></li>
</ul>

<img src="capture2.png">
<img src="capture3.png">